@page "/"

<div class="col-6">
    <h1>File Upload in Blazor</h1>
    <div class="form-group">
        <InputFile OnChange="OnInputFileChange" multipe />
        <button class="btn btn-sm btn-success" type="button"
            @onclick="UploadFiles">Upload</button>
    </div>
</div>

@code{

    private void OnInputFileChange()
    {

    }

    private async Task UploadFiles()
    {

    }

}